.productList {
  width: 70vw;
  height: 100vh;
  min-width: 400px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeList {
  position: relative;
  background-color: white;
  width: 100%;
  height: 80vh;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards {
  height: 150px;
  max-width: 400px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  margin: 15px;
  width: 48%; 
  margin-bottom: 16px; 
  box-sizing: border-box; 
}
.productList p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
}
@media (max-width: 1050px) {
  .productList {
    width: 100%;
    float: none;
    overflow: visible;
  }
}
@media (max-width: 768px) {
	.cards {
	  width: 100%; /* Ocupa todo el ancho disponible en la versión vertical */
	}
  }