.productList {
  width: 60vw;
  height: 100vh;
  min-width: 400px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeList {
  position: relative;
  background-color: white;
  width: 100%;
  height: 80vh;
  border-radius: 15px;
  display: flex;
}

.cards {
  width: 300px;
  height: 80px;
  max-width: 400px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}
span {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
}
